body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.StudentAttr { 
  background-color: rgb(21, 76, 159); 
  width: 120px; 
  color:chartreuse;
  border-style: solid;
} 

.heading{
  background-color: cadetblue;
  border-style: double;
}
